/* adlam-display-regular - latin */
@font-face {
  font-display: swap;
  font-family: "ADLaM Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/adlam-display-v1-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Akronim";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/akronim-v23-latin-regular.woff2") format("woff2");
}

/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v47-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v47-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/roboto-v47-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v47-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/roboto-v47-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v47-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* abel-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Abel";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/abel-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
li {
  text-decoration: none;
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.nav__header {
  background-color: rgb(189, 119, 68);
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
}
.nav__ul__navigation {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav__li__navigation {
  font-family: "ADLaM Display";
  padding: 10px;
  color: #fff;
  cursor: pointer;

  background-color: transparent;
  border-radius: 12px;
}

.nav__li__navigation:hover {
  background-color: #df8600;
  color: rgb(224, 172, 183);
  transition: 0.3s ease;
}

.nav__ul__right {
  display: flex;
  align-items: center;
  gap: 12px;
}
.fa-brands {
  color: #fff;
  font-size: 20px;
}

.nav__li__right {
  background-color: transition;
  padding: 10px;
  border-radius: 10px;
}

.nav__li__right:hover {
  background-color: #df8600;
}

.nav__logo {
  padding: 10px;
  border-radius: 10px;
}

.nav__logo:hover {
  background-color: #df8600;
  transition: 0.3s ease;
}

/* main start */

.me__desc__df {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.me__dec__title {
}

.main__me__desc__title_h4 {
  font-family: "Roboto";
  color: #fff;
  font-size: 25px;
  color: rgb(224, 215, 209);
}
.main__me__desc__title_h1 {
  color: #fff;
  font-family: "Akronim";
  color: rgb(73, 44, 24);
  margin-top: 10px;
  font-size: 45px;
}
.main__me__desc__title_h3 {
  color: #fff;
  font-family: "Roboto";
  margin-top: 10px;
  color: rgb(224, 215, 209);
  font-size: 25px;
}
.main__me__desc__title_p {
  color: #fff;
  font-family: "Roboto";
  color: rgb(224, 215, 209);
  font-weight: 900;
  margin-top: 10px;
  font-size: 20px;
}

.me__desc__image {
  max-width: 300px;
  height: 300px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 100, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.95) 60%
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 80px 40px rgba(255, 80, 0, 0.4);
}

.nain__me__desc__section {
  background-color: rgb(189, 119, 68);
  padding-top: 100px;
}

@media (max-width: 500px) {
  .me__desc__df {
    display: flex;
    flex-direction: column;
  }
  .nav__li__navigation {
    display: none;
  }
  .me__desc__image__div {
    margin-top: 100px;
  }
  .container{
    padding-left: 20px;
    padding-right: 20px;
  }
 
}

/* my skills start */
.my__launge {
  background-color:#BD7744;
  padding-top: 100px;
  padding-bottom: 100px;
}
.container {
}
.my__launge__content{
  background-color: #c4641f;
  padding-top: 20px;
  padding-bottom: 40px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: #7e4e07 20px 20px 20px;
  
}
.my__launge__content__h2 {
  font-family: Roboto;
  font-size: 25px;
  text-align: center;
  color: #fff;
  max-width: 1200px;

}
.contents__flex__lunge {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 40px;
}

.my__launge{
  color: #fff;
  font-family: Roboto;
  /* font-size: ; */
}

.my__launges__number{
  font-size: 40px;
  font-family: "ADLaM Display";
}
/* my skills end */

/* about start */
.about__me {
  background-color: #BD7744;
  padding-bottom: 100px;
}
.about__contents {
  max-width: 1200px;

}
.about__contents__h2 {
  text-align: center;
  font-family: Roboto;
  color: #fff;
  font-size: 50px;
  font-weight: 700;
}
.about__content {
}
.about__contents__image{
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;

}

.about__contents__p{
  max-width: 800px;
  text-align: center;
  font-family: Roboto;
  margin: 0 auto;
  margin-top: 20px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}
/* about end */

/* main end */
